{% block body %}
<header id="masthead" class="site-header">
	<div id="header-top">
		<div class="container">
			<div class="row">
				<div class="header-search">
					<div class="search default">
						<form action="{{ path('search') }}" method="POST" class="searchform">
							<div class="input-group"><input type="text" class="form-control" placeholder="SEARCH..."><span class="input-group-btn"><button id="submit-btn" class="btn btn-default"><i class="fa fa-search"></i></button></span></div>
						</form>
					</div>
				</div>
				<div class="header-social">
					<a href="{{ facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div id="header-middle">
		<div class="container">
			<div class="row">
				<nav id="nav-left" class="site-navigation top-navigation">
					<div class="menu-wrapper">
						<div class="menu-content">
							<ul class="menu-list">
								<li>
									<a href="#" class="active">Home</a>
								</li>
								<li>
									<a href="#">Categories</a>
									<ul class="menu-submenu">
									{% for category in categories %}
										<li><a href="#/category/{{category.name|url_encode}}">{{ category.name }}</a></li>
									{% endfor %}
									</ul>
								</li>	
							</ul>
						</div>
					</div>
				</nav>

				<div id="site-logo">
					<a href="" class="site-logo">
					<img src="{{ asset("frontend/GlgSolutions/images/logo.png") }}" alt="Glg Cms">
					</a>
				</div>

				<div id="nav-right" class="site-navigation top-navigation menu-right">
					<div class="menu-wrapper">
						<div class="menu-content">
							<ul class="menu-list">
								<li><a href="#">About {{ site_title }}</a></li>
								<li><a href="{{ path("admin_login") }}">Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="menucontent overlapblackbg"></div>
	<div class="menuexpandermain slideRight">
		<a id="navToggle" class="animated-arrow slideLeft"><span></span></a>
		<span id="menu-marker">Menu</span>
	</div>

	<div id="mobile-menu">
		<nav class="top-menu slideLeft clearfix">
			<div class="menu-wrapper">
				<div class="container">
					<div class="row" id="mobile-menu-wrap"></div>
				</div>
			</div>
		</nav>
	</div>
</header>

<div id="featured" class="feature-area" style="background:url({{ asset("frontend/themes/GlgProductions/images/featured-bg.jpg") }})">
            <div id="featured-overlay"></div>
            <div id="featured-content">
                <div class="container">
                    <div class="row">       
                        <div id="featured-slider" class="owl-carousel">
                            {% for f in featured %}
                                 <div class="item">
                                     <div class="post-thumb"><img src="{{ asset("frontend/themes/GlgProductions/images/featured/travel-one.jpg") }}" alt=""></div>
                                     <div class="post-content">
                                         <div class="post-format">
                                            <i class="fa fa-image"></i>
                                         </div>
                                         <h2 class="entry-title"><a href="">{{f.title}}</a></h2>
                                        <div class="entry-meta">
                                            <span class="cat-links"><a href="" rel="category tag">{{f.categoryId.name}}</a></span>
                                            <span class="devider">/</span>
                                            <span class="entry-date">{{f.createdAt|date("d F, Y")}}</span>
                                        </div>
                                        <div class="more-link-wrap"><a href="" class="more-link">Continue</a></div>
                                     </div>
                                 </div>
                            {% endfor %}
                        </div> <!-- /#featured-slider  --> 
                    </div>  <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- #featured-content -->
        </div> <!-- /#featured -->

        <!-- Main Content
        ================================================== -->
        <!-- Content
        ================================================== -->
        <div id="content" class="site-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">            
                        <div class="row">
                            <div class="col-md-12" id="blog-content">
                                <!-- Content Area -->
                                <div id="primary" class="content-area">
                                    <main id="main" class="site-main">
                                        <div class="row">
                                            <!-- Full Post -->   
                                            <div class="col-md-12 full-width"> 
                                                <article class="post hentry">
                                                    <figure class="post-thumb">
                                                        <a href="#"><img src="{{ asset("frontend/themes/GlgProductions/images/post/post-full.jpg") }}" class="img-responsive" alt="travel-one"></a>
                                                    </figure> <!-- /.post-thumb -->

                                                    <header class="entry-header">
                                                        <div class="post-format">
                                                            <i class="fa fa-image"></i>
                                                        </div>
                                                        <h2 class="entry-title"><a href="" rel="bookmark">Explore The Pacific Northwest.</a></h2>
                                                        <div class="entry-meta">
                                                            <span class="cat-links">
                                                                <a rel="category tag" href="#">Lifestyle</a>
                                                            </span>
                                                            <span class="devider">/</span>
                                                            <span class="entry-date">April 14, 2015</span>
                                                            <span class="devider">/</span>
                                                            <span class="byline">
                                                                <span class="author vcard">
                                                                    By: <a rel="author" href="#">Jahid</a>
                                                                </span>
                                                            </span>
                                                        </div> <!-- .entry-meta -->
                                                    </header> <!-- /.entry-header -->

                                                    <div class="entry-content">
                                                        <span class="screen-reader-text"></span>
                                                        <p>Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting this an pane, which made him feel quite sad. How about if I sleep a little bit longer and forget all this nonsense ad, but that was something he was unable to do because he was used to sleeping on his right. The bedding an was hardly able to cover it and seemed ready to slide....
                                                            <a href="#" class="more-link">Continue reading</a>
                                                        </p>
                                                    </div> <!-- .entry-content -->

                                                    <footer class="entry-footer clearfix">                          
                                                        <div class="footer-meta clearfix">  
                                                            <div class="post-comment">
                                                                <a href="#" class="comments-link">
                                                                    <span>55 Comments</span>
                                                                </a>
                                                            </div>
                                                            <div class="share-area">
                                                                <div> 
                                                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                    <a href="#"><span class="fa fa-instagram"></span></a>
                                                                    <a href="#"><span class="fa fa-dribbble"></span></a>
                                                                </div>
                                                            </div> <!-- /.share-area -->
                                                            <div class="post-view">
                                                                <a href="#" class="view-link">
                                                                    <span>50 View</span>
                                                                </a>
                                                            </div>
                                                        </div> <!-- /.footer-meta -->
                                                    </footer> <!-- .entry-footer -->
                                                </article> <!-- /.post-->
                                            </div> <!-- /.col-md-12 -->
                                            
                                            <!-- Grid Post -->
                                            <div class="col-md-12 ">
                                                <div class="row" id="masonry-layout">          
                                                    <div class="col-md-6 col-sm-6 grid">
                                                        <article class="post hentry">
                                                            <figure class="post-thumb">
                                                                <a href="#"><img src="{{ asset("frontend/themes/GlgProductions/images/post/grid-one.jpg") }}" class="img-responsive" alt="grid-one"></a>
                                                            </figure> <!-- /.post-thumb -->
                                                            <header class="entry-header">
                                                                <div class="post-format">
                                                                    <i class="fa fa-image"></i>
                                                                </div>
                                                                <h2 class="entry-title"><a href="" rel="bookmark">An Elegant Breakfast At Home</a></h2>
                                                                <div class="entry-meta">
                                                                    <span class="cat-links">
                                                                        <a rel="category tag" href="#">Travel</a>
                                                                    </span>
                                                                    <span class="devider">/</span>
                                                                    <span class="entry-date">April 14, 2015</span>
                                                                    <span class="devider">/</span>
                                                                    <span class="byline">
                                                                        <span class="author vcard">
                                                                            By: <a rel="author" href="#">Jahid</a>
                                                                        </span>
                                                                    </span>
                                                                </div> <!-- .entry-meta -->
                                                            </header> <!-- /.entry-header -->

                                                            <div class="entry-content">
                                                                <span class="screen-reader-text"></span>
                                                                <p>Lorem ipsum dolor sites amet, conse ctetur adipis cing elit. Cras vitae nibhe nisl. Cras et meauris egets lorem ultr icies fermentum a in diam. Morbi mollis pellentesque aug ueso nec rhoncus. Nam utbs orci augue....</p>
                                                            </div> <!-- .entry-content -->

                                                            <footer class="entry-footer clearfix">    
                                                                <div class="more-wraper">
                                                                    <a href="#" class="more-link">Continue</a>    
                                                                </div>                
                                                                <div class="footer-meta">  
                                                                    <div class="share-area">
                                                                        <div> 
                                                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                                                            <a href="#"><span class="fa fa-dribbble"></span></a>
                                                                        </div>
                                                                    </div> <!-- /.share-area -->
                                                                </div> <!-- /.footer-meta -->
                                                            </footer> <!-- .entry-footer -->
                                                        </article> <!-- /.post-->    
                                                    </div> <!-- /.grid -->

                                                    <div class="col-md-6 col-sm-6 grid">
                                                        <article class="post hentry">
                                                            <figure class="post-thumb">
                                                                <a href="#"><img src="{{ asset("frontend/themes/GlgProductions/images/post/grid-two.jpg") }} " class="img-responsive" alt="grid two"></a>
                                                            </figure> <!-- /.post-thumb -->
                                                            <header class="entry-header">
                                                                <div class="post-format">
                                                                    <i class="fa fa-image"></i>
                                                                </div>

                                                                <h2 class="entry-title"><a href="" rel="bookmark">While Watching The Rain</a></h2>
                                                                <div class="entry-meta">
                                                                    <span class="cat-links">
                                                                        <a rel="category tag" href="#">Travel</a>
                                                                    </span>
                                                                    <span class="devider">/</span>
                                                                    <span class="entry-date">April 14, 2015</span>
                                                                    <span class="devider">/</span>
                                                                    <span class="byline">
                                                                        <span class="author vcard">
                                                                            By: <a rel="author" href="#">Jahid</a>
                                                                        </span>
                                                                    </span>
                                                                </div> <!-- .entry-meta -->
                                                            </header> <!-- /.entry-header -->

                                                            <div class="entry-content">
                                                                <span class="screen-reader-text"></span>
                                                                <p>Lorem ipsum dolor sites amet, conse ctetur adipis cing elit. Cras vitae nibhe nisl. Cras et meauris egets lorem ultr icies fermentum a in diam. Morbi mollis pellentesque aug ueso nec rhoncus. Nam utbs orci augue....</p>
                                                            </div> <!-- .entry-content -->

                                                            <footer class="entry-footer clearfix">    
                                                                <div class="more-wraper">
                                                                    <a href="#" class="more-link">Continue</a>    
                                                                </div>                
                                                                <div class="footer-meta">  
                                                                    <div class="share-area">
                                                                        <div> 
                                                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                                                            <a href="#"><span class="fa fa-dribbble"></span></a>
                                                                        </div>
                                                                    </div> <!-- /.share-area -->
                                                                </div> <!-- /.footer-meta -->
                                                            </footer> <!-- .entry-footer -->
                                                        </article> <!-- /.post --> 
                                                    </div> <!-- /.Grid -->

                                                    <div class="col-md-6 col-sm-6 grid">
                                                        <article class="post hentry">
                                                            <figure class="post-thumb">
                                                                <a href="#"><img src="{{ asset("frontend/themes/GlgProductions/images/post/grid-three.jpg") }}" class="img-responsive" alt="grid Three"></a>
                                                            </figure> <!-- /.post-thumb -->

                                                            <header class="entry-header">
                                                                <div class="post-format">
                                                                    <i class="fa fa-image"></i>
                                                                </div>
                                                                <h2 class="entry-title"><a href="" rel="bookmark">Fashion In The Country</a></h2>
                                                                <div class="entry-meta">
                                                                    <span class="cat-links">
                                                                        <a rel="category tag" href="#">Lifestyle</a>
                                                                    </span>
                                                                    <span class="devider">/</span>
                                                                    <span class="entry-date">April 14, 2015</span>
                                                                    <span class="devider">/</span>
                                                                    <span class="byline">
                                                                        <span class="author vcard">
                                                                            By: <a rel="author" href="#">Jahid</a>
                                                                        </span>
                                                                    </span>
                                                                </div> <!-- .entry-meta -->
                                                            </header> <!-- /.entry-header -->

                                                            <div class="entry-content">
                                                                <span class="screen-reader-text"></span>
                                                                <p>Lorem ipsum dolor sites amet, conse ctetur adipis cing elit. Cras vitae nibhe nisl. Cras et meauris egets lorem ultr icies fermentum a in diam. Morbi mollis pellentesque aug ueso nec rhoncus. Nam utbs orci augue....</p>
                                                            </div> <!-- .entry-content -->

                                                            <footer class="entry-footer clearfix">    
                                                                <div class="more-wraper">
                                                                    <a href="#" class="more-link">Continue</a>    
                                                                </div>                
                                                                <div class="footer-meta">  
                                                                    <div class="share-area">
                                                                        <div> 
                                                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                                                            <a href="#"><span class="fa fa-dribbble"></span></a>
                                                                        </div>
                                                                    </div> <!-- /.share-area -->
                                                                </div> <!-- /.footer-meta -->
                                                            </footer> <!-- .entry-footer -->
                                                        </article> <!-- /.post -->                                       
                                                    </div> <!-- /.Grid -->

                                                    <div class="col-md-6 col-sm-6 grid">
                                                        <article class="post hentry">
                                                            <figure class="post-thumb">
                                                                <a href="#"><img src="{{ asset("frontend/themes/GlgProductions/images/post/grid-four.jpg") }}" class="img-responsive" alt="grid Four"></a>
                                                            </figure> <!-- /.post-thumb -->

                                                            <header class="entry-header">
                                                                <div class="post-format">
                                                                    <i class="fa fa-image"></i>
                                                                </div>
                                                                <h2 class="entry-title"><a href="" rel="bookmark">Favorite New York Bars</a></h2>
                                                                <div class="entry-meta">
                                                                    <span class="cat-links">
                                                                        <a rel="category tag" href="#">Travel</a>
                                                                    </span>
                                                                    <span class="devider">/</span>
                                                                    <span class="entry-date">April 14, 2015</span>
                                                                    <span class="devider">/</span>
                                                                    <span class="byline">
                                                                        <span class="author vcard">
                                                                            By: <a rel="author" href="#">Jahid</a>
                                                                        </span>
                                                                    </span>
                                                                </div> <!-- .entry-meta -->
                                                            </header> <!-- /.entry-header -->

                                                            <div class="entry-content">
                                                                <span class="screen-reader-text"></span>
                                                                <p>Lorem ipsum dolor sites amet, conse ctetur adipis cing elit. Cras vitae nibhe nisl. Cras et meauris egets lorem ultr icies fermentum a in diam. Morbi mollis pellentesque aug ueso nec rhoncus. Nam utbs orci augue....</p>
                                                            </div> <!-- .entry-content -->

                                                            <footer class="entry-footer clearfix">    
                                                                <div class="more-wraper">
                                                                    <a href="#" class="more-link">Continue</a>    
                                                                </div>                
                                                                <div class="footer-meta">  
                                                                    <div class="share-area">
                                                                        <div> 
                                                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                                                            <a href="#"><span class="fa fa-dribbble"></span></a>
                                                                        </div>
                                                                    </div> <!-- /.share-area -->
                                                                </div> <!-- /.footer-meta -->
                                                            </footer> <!-- .entry-footer -->
                                                        </article>  <!-- /.post -->
                                                    </div> <!-- grid -->

                                                    <div class="col-md-6 col-sm-6 grid">
                                                        <article class="post hentry">
                                                            <figure class="post-thumb">
                                                                <a href="#"><img src="{{ asset("frontend/themes/GlgProductions/images/post/grid-five.jpg") }}" class="img-responsive" alt="grid Five"></a>
                                                            </figure> <!-- /.post-thumb -->

                                                            <header class="entry-header">
                                                                <div class="post-format">
                                                                    <i class="fa fa-image"></i>
                                                                </div>
                                                                <h2 class="entry-title"><a href="" rel="bookmark">We Work Together For Fun</a></h2>
                                                                <div class="entry-meta">
                                                                    <span class="cat-links">
                                                                        <a rel="category tag" href="#">Travel</a>
                                                                    </span>
                                                                    <span class="devider">/</span>
                                                                    <span class="entry-date">April 14, 2015</span>
                                                                    <span class="devider">/</span>
                                                                    <span class="byline">
                                                                        <span class="author vcard">
                                                                            By: <a rel="author" href="#">Jahid</a>
                                                                        </span>
                                                                    </span>
                                                                </div> <!-- .entry-meta -->
                                                            </header> <!-- /.entry-header -->

                                                            <div class="entry-content">
                                                                <span class="screen-reader-text"></span>
                                                                <p>Lorem ipsum dolor sites amet, conse ctetur adipis cing elit. Cras vitae nibhe nisl. Cras et meauris egets lorem ultr icies fermentum a in diam. Morbi mollis pellentesque aug ueso nec rhoncus. Nam utbs orci augue....</p>
                                                            </div> <!-- .entry-content -->

                                                            <footer class="entry-footer clearfix">    
                                                                <div class="more-wraper">
                                                                    <a href="#" class="more-link">Continue</a>    
                                                                </div>                
                                                                <div class="footer-meta">  
                                                                    <div class="share-area">
                                                                        <div> 
                                                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                                                            <a href="#"><span class="fa fa-dribbble"></span></a>
                                                                        </div>
                                                                    </div> <!-- /.share-area -->
                                                                </div> <!-- /.footer-meta -->
                                                            </footer> <!-- .entry-footer -->
                                                        </article>  <!-- /.post -->
                                                    </div> <!-- grid -->

                                                    <div class="col-md-6 col-sm-6 grid">
                                                        <article class="post hentry">
                                                            <figure class="post-thumb">
                                                                <a href="#"><img src="{{ asset("frontend/themes/GlgProductions/images/post/grid-six.jpg") }}" class="img-responsive" alt="grid six"></a>
                                                            </figure> <!-- /.post-thumb -->

                                                            <header class="entry-header">
                                                                <div class="post-format">
                                                                    <i class="fa fa-image"></i>
                                                                </div>
                                                                <h2 class="entry-title"><a href="" rel="bookmark">While Watching The Rain</a></h2>
                                                                <div class="entry-meta">
                                                                    <span class="cat-links">
                                                                        <a rel="category tag" href="#">Travel</a>
                                                                    </span>
                                                                    <span class="devider">/</span>
                                                                    <span class="entry-date">April 14, 2015</span>
                                                                    <span class="devider">/</span>
                                                                    <span class="byline">
                                                                        <span class="author vcard">
                                                                            By: <a rel="author" href="#">Jahid</a>
                                                                        </span>
                                                                    </span>
                                                                </div> <!-- .entry-meta -->
                                                            </header> <!-- /.entry-header -->

                                                            <div class="entry-content">
                                                                <span class="screen-reader-text"></span>
                                                                <p>Lorem ipsum dolor sites amet, conse ctetur adipis cing elit. Cras vitae nibhe nisl. Cras et meauris egets lorem ultr icies fermentum a in diam. Morbi mollis pellentesque aug ueso nec rhoncus. Nam utbs orci augue....</p>
                                                            </div> <!-- .entry-content -->

                                                            <footer class="entry-footer clearfix">    
                                                                <div class="more-wraper">
                                                                    <a href="#" class="more-link">Continue</a>    
                                                                </div>                
                                                                <div class="footer-meta">  
                                                                    <div class="share-area">
                                                                        <div> 
                                                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                                                            <a href="#"><span class="fa fa-dribbble"></span></a>
                                                                        </div>
                                                                    </div> <!-- /.share-area -->
                                                                </div> <!-- /.footer-meta -->
                                                            </footer> <!-- .entry-footer -->
                                                        </article>  <!-- /.post -->
                                                    </div> <!-- grid -->

                                                    <div class="col-md-6 col-sm-6 grid">
                                                        <article class="post hentry">
                                                            <figure class="post-thumb">
                                                                <a href="#"><img src="{{ asset("frontend/themes/GlgProductions/images/post/grid-seven.jpg") }}" class="img-responsive" alt="grid seven"></a>
                                                            </figure> <!-- /.post-thumb -->

                                                            <header class="entry-header">
                                                                <div class="post-format">
                                                                    <i class="fa fa-image"></i>
                                                                </div>
                                                                <h2 class="entry-title"><a href="" rel="bookmark">10 Amazing Interior Designers.</a></h2>
                                                                <div class="entry-meta">
                                                                    <span class="cat-links">
                                                                        <a rel="category tag" href="#">Travel</a>
                                                                    </span>
                                                                    <span class="devider">/</span>
                                                                    <span class="entry-date">April 14, 2015</span>
                                                                    <span class="devider">/</span>
                                                                    <span class="byline">
                                                                        <span class="author vcard">
                                                                            By: <a rel="author" href="#">Jahid</a>
                                                                        </span>
                                                                    </span>
                                                                </div> <!-- .entry-meta -->
                                                            </header> <!-- /.entry-header -->

                                                            <div class="entry-content">
                                                                <span class="screen-reader-text"></span>
                                                                <p>Lorem ipsum dolor sites amet, conse ctetur adipis cing elit. Cras vitae nibhe nisl. Cras et meauris egets lorem ultr icies fermentum a in diam. Morbi mollis pellentesque aug ueso nec rhoncus. Nam utbs orci augue....</p>
                                                            </div> <!-- .entry-content -->

                                                            <footer class="entry-footer clearfix">    
                                                                <div class="more-wraper">
                                                                    <a href="#" class="more-link">Continue</a>    
                                                                </div>                
                                                                <div class="footer-meta">  
                                                                    <div class="share-area">
                                                                        <div> 
                                                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                                                            <a href="#"><span class="fa fa-dribbble"></span></a>
                                                                        </div>
                                                                    </div> <!-- /.share-area -->
                                                                </div> <!-- /.footer-meta -->
                                                            </footer> <!-- .entry-footer -->
                                                        </article>  <!-- /.post -->
                                                    </div> <!-- grid -->

                                                    <div class="col-md-6 col-sm-6 grid">
                                                        <article class="post hentry">
                                                            <figure class="post-thumb">
                                                                <a href="#"><img src="{{ asset("frontend/themes/GlgProductions/images/post/grid-eight.jpg") }}" class="img-responsive" alt="grid eight"></a>
                                                            </figure> <!-- /.post-thumb -->

                                                            <header class="entry-header">
                                                                <div class="post-format">
                                                                    <i class="fa fa-image"></i>
                                                                </div>
                                                                <h2 class="entry-title"><a href="" rel="bookmark">Explore The Pacific Northwest.</a></h2>
                                                                <div class="entry-meta">
                                                                    <span class="cat-links">
                                                                        <a rel="category tag" href="#">Lifestyle</a>
                                                                    </span>
                                                                    <span class="devider">/</span>
                                                                    <span class="entry-date">April 14, 2015</span>
                                                                    <span class="devider">/</span>
                                                                    <span class="byline">
                                                                        <span class="author vcard">
                                                                            By: <a rel="author" href="#">Jahid</a>
                                                                        </span>
                                                                    </span>
                                                                </div> <!-- .entry-meta -->
                                                            </header> <!-- /.entry-header -->

                                                            <div class="entry-content">
                                                                <span class="screen-reader-text"></span>
                                                                <p>Lorem ipsum dolor sites amet, conse ctetur adipis cing elit. Cras vitae nibhe nisl. Cras et meauris egets lorem ultr icies fermentum a in diam. Morbi mollis pellentesque aug ueso nec rhoncus. Nam utbs orci augue....</p>
                                                            </div> <!-- .entry-content -->

                                                            <footer class="entry-footer clearfix">    
                                                                <div class="more-wraper">
                                                                    <a href="#" class="more-link">Continue</a>    
                                                                </div>                
                                                                <div class="footer-meta">  
                                                                    <div class="share-area">
                                                                        <div> 
                                                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                                                            <a href="#"><span class="fa fa-dribbble"></span></a>
                                                                        </div>
                                                                    </div> <!-- /.share-area -->
                                                                </div> <!-- /.footer-meta -->
                                                            </footer> <!-- .entry-footer -->
                                                        </article>  <!-- /.post -->
                                                    </div> <!-- grid -->

                                                </div> <!-- /.row -->       
                                            </div> <!-- /.col-md-12 -->

                                            <div class="col-md-12 col-sm-12 full-width"></div>
                                        </div> <!-- /.row -->
                                    </main> <!-- #main -->

                                    <!-- pagination -->
                                    <nav class="navigation paging-navigation">
                                        <ul class="nav-links">
                                            <li class="nav-previous"> <!-- disabled add when no pagination -->
                                                <a href="#"><span class="fa fa-angle-double-left"></span>Previous</a>
                                            </li>                                       
                                            <li class="active">
                                                <a><span class="page-numbers current">1</span></a>
                                            </li>
                                            <li><a href="#" class="page-numbers">2</a></li>
                                            <li><a href="#" class="page-numbers">3</a></li>
                                            <li><a href="#" class="page-numbers">4</a></li>
                                            <li><span class="page-numbers dots"></span></li>
                                            <li><a href="#" class="page-numbers">14</a></li>   
                                            <li class="nav-next">
                                                <a href="#">Next<span class="fa fa-angle-double-right"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav> <!-- /.navigation -->
                                </div> <!-- #primary -->
                            </div> <!-- /.col-md-8 -->
                        </div> <!-- /.row -->
                    </div> <!-- /.col-md-10 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div><!-- #content --> 

        <!-- Footer
        ================================================== --> 
        <footer id="colophon" class="site-footer">
            {#<div id="footer-top">
                <div class="container">              
                    <div class="widget clearfix">
                        <div class="widget-title-area">
                            <h5 class="widget-title"><span>Follow us on Instagram</span></h5> <!-- /.widget-title -->
                        </div> <!-- /.widget-title-area -->
                        <div id="instafeed"></div> <!-- /.instafeed-content -->
                    </div> <!-- /.glimmer_about_widget -->          
                </div>
            </div> <!-- #footer-top" -->#}

            <div id="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="widget widget_text clearfix">
                                <div class="widget-title-area">
                                    <h5 class="widget-title"><span>About</span></h5> <!-- /.widget-title -->
                                </div> <!-- /.widget-title-area -->
                                <div class="widget-about">
                                    <p>
                                        <img alt="logo" class="about-logo" src="{{ asset("frontend/GlgSolutions/images/logo.png") }}">
                                    </p>
                                    <p>Mauris id sapien ante. Praesent vulputate the feugiat quam. Duis aliquam nisl non tellus skip ullamcorper, eget blandit nunc suscipit.</p>  
                                </div>
                            </div> <!-- /.widget_about_and_contact -->          
                        </div> <!-- /.col-md-4 -->

                        {#<div class="col-md-4">
                            <div class="widget widget_subscribe clearfix">
                                <div class="widget-title-area">
                                    <h5 class="widget-title"><span>Twitter Feed</span></h5> <!-- /.widget-title -->
                                </div>

                                <div id="twitter_profile_embed"></div>

                            </div> <!-- /.widget_about_and_contact -->      
                        </div> <!-- /.col-md-4 -->

                        <div class="col-md-4">
                            <div class="widget widget_flicker clearfix">
                                <div class="widget-title-area">
                                    <h5 class="widget-title"><span>Flicker Images</span></h5> <!-- /.widget-title -->
                                </div> <!-- /.widget-title-area -->
                                <div id="flickr"></div>
                            </div> <!-- /.widget_about_and_contact -->
                        </div> <!-- /.col-md-4 -->#}
                    </div> <!-- /.row -->
                </div> <!-- /.container -->         
            </div> <!-- #footer-middle -->

            <div id="footer-bottom">
                <div class="container">
                    <div class="copyright">
                        <p>Copyright&copy; 2017 Glg Cms. All right reserved.</p>   
                    </div> <!-- /.copyright -->
                </div> <!-- /.container -->
            </div> <!-- /#footer-bottom -->

        </footer><!-- #colophon -->
{% endblock %}